:root {
  --elements-bg: rgba(255, 255, 255, 0.03);
  --section-label: rgba(255, 255, 255, 0.6);
  --white: #fff;
  --black: #000;
  --border: #343a40;
  --text: rgba(255, 255, 255, 0.8);
  --mono-font: "Space Mono", monospace;
}
[data-theme="light"] {
  --bg-primary: #ebebeb;
  --bg-secondary: #ffffff;
  --elements-bg: rgba(0, 0, 0, 0.02);
  --section-label: rgba(33, 37, 41, 0.7);
  --white: #212529;
  --black: #fff;
  --border: #dee2e6;
  --text: rgb(0, 0, 0);
  --text-primary: rgba(33, 37, 41, 0.95);
}

.section-headings {
  display: flex;
  flex-direction: column;
}

.section-headings .title-group {
  flex: 1;
}

.section-headings h3 {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 20px;
  font-weight: 400;
  font-family: var(--mono-font);
}

.section-headings h1 {
  font-size: 2.5rem;
  line-height: 1.2;
  margin: 0 0 40px 0;
  font-weight: 700;
  color: #ffffff;
  font-family: var(--mono-font);
  letter-spacing: -0.03em;
}
